In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
admissions = pd.read_csv("ADMISSIONS.csv.gz")
lab_events = pd.read_csv("LABEVENTS.csv.gz")
diagnoses = pd.read_csv("DIAGNOSES_ICD.csv.gz")
diag_dict = pd.read_csv("D_ICD_DIAGNOSES.csv.gz")

In [4]:
admissions.head(3)

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1

In [6]:
print("ORIGINAL SIZE:", len(lab_events))
lab_events = lab_events[lab_events["VALUENUM"].notna()][["SUBJECT_ID", "ITEMID", "VALUENUM"]]
lab_events = lab_events.groupby(["SUBJECT_ID", "ITEMID"]).mean().reset_index()
print(len(lab_events))
lab_events.head(3)

ORIGINAL SIZE: 24932835
2597712

   SUBJECT_ID  ITEMID  VALUENUM
0           2   50883       0.3
1           2   50884       9.0
2           2   50885       9.3

In [7]:
diagnoses.head(3)

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0    1297         109   172335      1.0     40301
1    1298         109   172335      2.0       486
2    1299         109   172335      3.0     58281

In [8]:
diag_dict.head()

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,174,01166,TB pneumonia-oth test,"Tuberculous pneumonia [any form], tubercle bac..."
1,175,01170,TB pneumothorax-unspec,"Tuberculous pneumothorax, unspecified"
2,176,01171,TB pneumothorax-no exam,"Tuberculous pneumothorax, bacteriological or h..."
3,177,01172,TB pneumothorx-exam unkn,"Tuberculous pneumothorax, bacteriological or h..."
4,178,01173,TB pneumothorax-micro dx,"Tuberculous pneumothorax, tubercle bacilli fou..."

In [9]:
avg_dx_per_patient = diagnoses.groupby("SUBJECT_ID").size().mean()
print("Average number of diagnoses per patient:", avg_dx_per_patient)

avg_events_per_patient = lab_events.groupby("SUBJECT_ID").size().mean()
print("Average number of lab events per patient:", avg_events_per_patient)

Average number of diagnoses per patient: 13.994991401547722
Average number of lab events per patient: 56.16674594594595

In [10]:
sepsis_icd9 = diag_dict[diag_dict["SHORT_TITLE"].str.contains("sepsis", flags=re.IGNORECASE, regex=True)==True][["ICD9_CODE", "SHORT_TITLE"]]
sepsis_icd9

      ICD9_CODE               SHORT_TITLE
9049      77181    NB septicemia [sepsis]
10304     99591                    Sepsis
10305     99592             Severe sepsis
13293     67020     Puerperal sepsis-unsp
13294     67022  Puerprl sepsis-del w p/p
13295     67024  Puerperl sepsis-postpart

In [11]:
sepsis_pos = diagnoses[diagnoses["ICD9_CODE"].isin(sepsis_icd9["ICD9_CODE"])]
sepsis_subjects = sepsis_pos["SUBJECT_ID"].unique()
sepsis_subjects

array([  117,   124,    64, ..., 95803, 97143, 97158], dtype=int64)

In [12]:
# lab_events["ITEMID"].unique().shape
features = np.sort(lab_events["ITEMID"].unique()).tolist()
n_features = len(features)
print("Number of features:", n_features)
print("Features:")
print(features)

Number of features: 494
Features:
[50801, 50802, 50803, 50804, 50805, 50806, 50808, 50809, 50810, 50811, 50813, 50814, 50815, 50816, 50817, 50818, 50819, 50820, 50821, 50822, 50823, 50824, 50825, 50826, 50830, 50831, 50832, 50833, 50834, 50835, 50836, 50837, 50838, 50839, 50840, 50841, 50842, 50843, 50844, 50846, 50847, 50848, 50849, 50850, 50851, 50852, 50853, 50854, 50855, 50856, 50857, 50858, 50859, 50860, 50861, 50862, 50863, 50864, 50865, 50866, 50867, 50868, 50869, 50870, 50877, 50878, 50881, 50882, 50883, 50884, 50885, 50889, 50890, 50891, 50892, 50893, 50894, 50895, 50896, 50898, 50899, 50900, 50902, 50903, 50904, 50905, 50906, 50907, 50908, 50909, 50910, 50911, 50912, 50914, 50915, 50916, 50917, 50921, 50922, 50924, 50925, 50926, 50927, 50928, 50929, 50930, 50931, 50934, 50935, 50936, 50945, 50946, 50947, 50949, 50950, 50951, 50952, 50953, 50954, 50956, 50957, 50958, 50960, 50961, 50962, 50963, 50964, 50965, 50966, 50967, 50968, 50969, 50970, 50971, 50972, 50973, 50974, 50976, 50977, 50978, 50980, 50981, 50982, 50983, 50986, 50988, 50989, 50990, 50991, 50992, 50993, 50994, 50995, 50996, 50997, 50998, 51000, 51001, 51002, 51003, 51004, 51005, 51006, 51007, 51008, 51009, 51010, 51011, 51012, 51014, 51015, 51016, 51018, 51019, 51020, 51021, 51022, 51023, 51024, 51025, 51026, 51027, 51028, 51029, 51030, 51031, 51032, 51034, 51035, 51036, 51037, 51038, 51039, 51040, 51041, 51042, 51043, 51044, 51045, 51046, 51047, 51048, 51049, 51050, 51051, 51052, 51053, 51054, 51055, 51057, 51058, 51059, 51060, 51061, 51062, 51063, 51064, 51065, 51066, 51067, 51068, 51069, 51070, 51072, 51073, 51076, 51077, 51078, 51080, 51081, 51082, 51083, 51084, 51087, 51088, 51093, 51094, 51095, 51096, 51097, 51098, 51099, 51100, 51101, 51102, 51104, 51105, 51106, 51108, 51109, 51110, 51111, 51112, 51113, 51114, 51115, 51116, 51117, 51118, 51119, 51120, 51121, 51122, 51123, 51124, 51125, 51126, 51127, 51128, 51129, 51130, 51131, 51132, 51133, 51136, 51137, 51138, 51139, 51140, 51143, 51144, 51146, 51148, 51149, 51150, 51152, 51160, 51162, 51163, 51164, 51165, 51166, 51168, 51169, 51170, 51174, 51175, 51176, 51180, 51181, 51184, 51185, 51186, 51188, 51194, 51196, 51199, 51200, 51202, 51203, 51204, 51205, 51206, 51208, 51209, 51210, 51212, 51214, 51218, 51221, 51222, 51223, 51224, 51225, 51226, 51227, 51228, 51229, 51232, 51233, 51237, 51240, 51241, 51242, 51244, 51245, 51248, 51249, 51250, 51251, 51253, 51254, 51255, 51256, 51257, 51259, 51263, 51264, 51265, 51267, 51269, 51270, 51271, 51272, 51273, 51274, 51275, 51276, 51277, 51279, 51280, 51281, 51282, 51283, 51284, 51285, 51288, 51289, 51297, 51298, 51299, 51300, 51301, 51302, 51343, 51344, 51345, 51346, 51347, 51348, 51349, 51351, 51352, 51353, 51354, 51355, 51356, 51357, 51358, 51359, 51360, 51361, 51362, 51363, 51364, 51365, 51366, 51367, 51368, 51369, 51375, 51376, 51377, 51378, 51379, 51380, 51381, 51382, 51383, 51384, 51385, 51386, 51387, 51398, 51404, 51406, 51408, 51409, 51418, 51419, 51422, 51427, 51428, 51429, 51430, 51431, 51432, 51433, 51434, 51435, 51436, 51437, 51438, 51439, 51440, 51441, 51442, 51443, 51444, 51445, 51446, 51447, 51448, 51449, 51450, 51451, 51452, 51453, 51454, 51455, 51456, 51457, 51458, 51459, 51463, 51467, 51471, 51476, 51478, 51479, 51480, 51482, 51484, 51486, 51487, 51488, 51489, 51491, 51492, 51493, 51494, 51496, 51497, 51498, 51501, 51507, 51508, 51510, 51512, 51513, 51514, 51515, 51516, 51517, 51518, 51519, 51521, 51526, 51529, 51530, 51532, 51533, 51534, 51555]

In [13]:
#We want each patient to have n_features + 1 amount of features. The last feature is a binary indicator that specifies
#if the patient was diagnosed with sepsis
feature_dict = {}
subjects = admissions["SUBJECT_ID"].unique()
print(len(subjects))
for subject in subjects:
    feature_dict[subject] = [0]*(n_features+1)

46520

In [15]:
for subject in subjects:
    if subject == 9549:
        print("ONE FOURTH DONE")
    if subject == 21332:
        print("HALFWAY DONE")
    for f, f_val in lab_events[lab_events["SUBJECT_ID"]==subject][["ITEMID", "VALUENUM"]].itertuples(index=False):
        feature_dict[subject][features.index(f)] = f_val

ONE FOURTH DONE
HALFWAY DONE

In [20]:
print(feature_dict[21332])

[0, -1.0, 0, 23.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20.0, 0, 36.0, 0, 7.414999999999999, 45.75, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 261.0, 0, 0, 0, 0, 19.166666666666668, 0, 0, 0, 0, 0, 17.333333333333332, 0.33333333333333326, 6.888888888888889, 7.222222222222222, 0, 0, 0, 0, 10.5, 0, 0, 0, 0, 0, 0, 114.66666666666667, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7.0, 5.366666666666666, 0, 0, 0, 0, 0, 0, 0, 0, 0, 145.83333333333334, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2.6, 1.6, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2.2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 38.31428571428571, 14.1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 53.6, 0, 35.96, 35.18, 102.4, 1.2, 0, 11.2, 0.2, 26.6, 13.0, 0, 0, 0, 399.6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 17.02, 3.9159999999999995, 0, 0, 0, 0, 10.1, 0, 0, 0, 0, 0, 0, 0, 15.66, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [112]:
feature_df = pd.DataFrame.from_dict(data=feature_dict, orient="index").reset_index(level=0).rename(columns={"index": "SUBJECT_ID"})
feature_df.head(3)

,SUBJECT_ID,0,1,2,3,4,5,6,7,8,...,485,486,487,488,489,490,491,492,493,494
0,22,0.0,0.000000,0.0,22.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,23,0.0,-1.133333,0.0,24.6,0.0,102.0,1.131429,116.666667,32.142857,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,24,0.0,0.000000,0.0,27.0,0.0,0.0,0.000000,0.000000,44.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [139]:
for sepsis_subject in sepsis_subjects:
    if sepsis_subject in feature_df["SUBJECT_ID"]:
        feature_df.loc[feature_df["SUBJECT_ID"]==sepsis_subject, 494] = 1
    
feature_df.to_csv("feature_matrix.csv", header=True, index=False)

In [127]:
feature_df[494].sum()

2937

In [128]:
feature_df.head(3)

,SUBJECT_ID,0,1,2,3,4,5,6,7,8,...,485,486,487,488,489,490,491,492,493,494
0,22,0.0,0.000000,0.0,22.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,23,0.0,-1.133333,0.0,24.6,0.0,102.0,1.131429,116.666667,32.142857,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,24,0.0,0.000000,0.0,27.0,0.0,0.0,0.000000,0.000000,44.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [130]:
feature_df[feature_df["SUBJECT_ID"]==124]

,SUBJECT_ID,0,1,2,3,4,5,6,7,8,...,485,486,487,488,489,490,491,492,493,494
98,124,0.0,-6.428571,19.0,19.614286,0.0,111.6,1.122857,119.8,26.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [105]:
sepsis_subjects

array([  117,   124,    64, ..., 95803, 97143, 97158], dtype=int64)

In [131]:
test=[]
for s in sepsis_subjects:
    if s not in feature_df["SUBJECT_ID"]:
        test.append(s)

In [138]:
feature_df.shape

(46520, 496)