In [56]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [18]:
df = pd.read_csv("feature_matrix.csv").rename(columns= {"494": "LABEL"})
df.head(3)

,SUBJECT_ID,0,1,2,3,4,5,6,7,8,...,485,486,487,488,489,490,491,492,493,LABEL
0,22,0.0,0.000000,0.0,22.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,23,0.0,-1.133333,0.0,24.6,0.0,102.0,1.131429,116.666667,32.142857,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,24,0.0,0.000000,0.0,27.0,0.0,0.0,0.000000,0.000000,44.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [19]:
feature_matrix = df.loc[:, df.columns != "SUBJECT_ID"]
feature_matrix.head(3)

,0,1,2,3,4,5,6,7,8,9,...,485,486,487,488,489,490,491,492,493,LABEL
0,0.0,0.000000,0.0,22.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,-1.133333,0.0,24.6,0.0,102.0,1.131429,116.666667,32.142857,10.685714,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.000000,0.0,27.0,0.0,0.0,0.000000,0.000000,44.000000,14.700000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [30]:
x = feature_matrix.loc[:, feature_matrix.columns != "LABEL"]
y = feature_matrix.loc[:, feature_matrix.columns == "LABEL"].values.ravel()

In [32]:
y.shape

(46520,)

In [34]:
svm_clf = svm.SVC()
svm_scores = cross_val_score(svm_clf, x, y, cv=5, scoring = "roc_auc")
print(svm_scores)

[0.69296929 0.68202355 0.71542907 0.62657678 0.62256917]

In [61]:
rf_clf = RandomForestClassifier()
rf_scores = cross_val_score(rf_clf, x, y, cv=5, scoring = "roc_auc")
print(rf_scores)

[0.92354412 0.91825251 0.91917378 0.9037101  0.85143409]

In [63]:
sum(rf_scores)/5

0.9032229190060242

In [62]:
sum(svm_scores)/5

0.6679135735885762